@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

.login, .signup {
  max-width: 350px;
  margin: 4rem auto 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  border: solid 1px #c7c7c7;
}

.login h1, .signup h1 {
  margin-bottom: 1rem;
}

.login form, .signup form {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: small;
}

.login input, .signup input {
  padding: 0.4rem; 
  margin-bottom: 1rem;
}

.login .button, .signup .button {
  margin: 0.8rem 0;
  padding: 0.5rem;
}

.login span, .signup span {
  font-size: small;
  text-align: center;
}

.login a, .signup a {
  font-weight: bold;
  color: #066fb4;
}

.login .cta, .signup .cta {
  border: none;
  background-color:#066fb4;
  font-weight: bold;
  color: white;
}

.links {
  width: 100%;
}

.navbar {
  text-decoration: none;
  padding: 0.8rem 0.6rem;
  width: 100%;
  background-color: #066eb42f;
  display: flex;
  justify-content: space-between;
}

.navbar .title {
  font-weight: bold;
}

.navbar .links {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.providers {
  padding: 0.6rem;
}

.provider-filter select {
  padding: 0.2rem;
  margin-bottom: 1rem;
}


.offers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
  gap: 1rem;
}

.offer-card, .card-content {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
}

.purchase-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-color: #b7b7b7;
}

.purchase-form form {
  margin: 0 auto;
  z-index: 5;
}