@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* base styles */
* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.login, .signup {
  max-width: 350px;
  margin: 4rem auto 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  border: solid 1px #c7c7c7;
}

.login h1, .signup h1 {
  margin-bottom: 1rem;
}

.login form, .signup form, label {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 500;
}

.login input, .signup input {
  padding: 0.4rem; 
  margin-bottom: 1rem;
}

.login .button, .signup .button {
  margin: 0.8rem 0;
  padding: 0.5rem;
}

.login span, .signup span {
  font-size: small;
  text-align: center;
}

.login a, .signup a {
  font-weight: 700;
  color: #066fb4;
}

.login .cta, .signup .cta {
  border: none;
  background-color:#066fb4;
  font-weight: bold;
  color: white;
}

.navbar {
  margin: 0;
  background-color: #066fb4;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.navbar .title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  color: white;
  /* margin-left: 0.8rem; */
}

.navbar .navs {
  margin: 0;
  display: flex;
  font-weight: 500;
  text-decoration: none;
  margin: 0;
  gap: 1.4rem;
  align-items: center;
}

.nav-link {
  height: auto;
  color: white;
}

.nav-link:hover {
  color: #89d0ff;
  cursor: pointer;
}


.dashboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.providers {
  margin: 0;
  padding: 0.6rem;
}

.providers h3 {
  text-align: center;
  color: #066fb4;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: flex-end;
} 

.filter select, .buyForm select, .buyForm input {
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  border: solid 1px #333;
}

button {
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: solid 1px #333;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

button:hover, select:hover {
  cursor: pointer;
}

.cta {
  background-color: #066fb4;
  color: white;
}

.cta:hover {
  background-color: #035084;
}

.offers, .requests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(12rem, 100%), 1fr));
  gap: 1rem;
}

.header {
  font-weight: bold;
  padding: 0.4rem;
  font-size: 1.2rem;
  color: #4f4f4f;
}

.card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  border: solid 1px #dcdcdc;
  background-color: #f3f9fd;
}

.card-content {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.4rem;
  background-color: white;
}

.modal, .bank-form {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffffe2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.buyForm {
  padding: 1rem 2rem;
  margin: 5rem auto;
  background-color: #ffffff;
  border: solid 1px #333;
  border-radius: 0.4rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.buyForm .title {
  text-align: center;
  margin-bottom: 1rem;
  color: #066fb4
}

.buyForm .stats {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.accounts {
  display: flex;
  flex-direction: column;
}

.accounts .details {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f3fbff;
}

.accounts .banks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.accounts .banks-container {
  display: flex;
  gap: 1rem;
}

.accounts .bank-stat {
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-radius: 0.4rem;
  border: solid 1px #dcdcdc;
  background-color: white;
}

.fulfilled strong {
  color: #035084;
}

.cancelled strong {
  color: #f52952
}

.not-found {
  width: 100%;
  text-align: center;
  margin: 5rem auto;
}